* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.app {
    font-family: Arial, Helvetica, sans-serif;
    width: 550px;
    height: 550px;
    display: flex;
    flex-direction: column;
    background: lightseagreen;
    border-radius: 20px;
}

h1,
h2 {
    text-align: center;
}

h4 {
    color: #DDD;
}

span {
    color: #000;
    font-weight: bold;
}

.menu,
.quiz,
.endscreen {
    display: flex;
    flex-direction: column;
    border: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.menu {
    background-color: rgb(48, 138, 48);
}

.endscreen {
    background-color: rgb(48, 138, 48);
}

.btn-start,
.btn-finish,
.btn-back,
.btn-next,
.options button {
    padding: .7rem 1.5rem;
    display: flex;
    margin: 1rem 0;
    min-width: 200px;
    height: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    border-radius: 20px;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn-start,
.btn-back {
    background: #000;
    color: #fff;
}

.btn-next {
    background: rgb(49, 102, 42);
    color: #fff;
}

.btn-finish {
    background: rgb(27, 63, 146);
    color: #fff;
}

.btn-question:focus {
    background: #000;
    color: #fff;
}

.btn-start,
.btn-back,
.btn-next,
.btn-finish {
    gap: .7rem;
}